In [1]:
import pandas as pd

In [2]:
# Dtype so we dont lose leading zeros for plr_nr
df = pd.read_csv('raw/adressen.csv', dtype={'plr_nr': str,'hnr': str, 'hnr_zusatz': str})
df.shape

(401032, 7)

In [3]:
df.dtypes

hnr           object
hnr_zusatz    object
str_name      object
plz            int64
ort_name      object
plr_name      object
plr_nr        object
dtype: object

In [4]:
df['hnr'] = df['hnr'].fillna('')
df['hnr_zusatz'] = df['hnr_zusatz'].fillna('')

df.shape

(401032, 7)

In [5]:
df = df.rename(columns={'plr_name': 'PLR_NAME', 'plr_nr': 'PLR_ID'})

In [6]:
df = df.sort_values(by=['plz', 'str_name', 'hnr', 'hnr_zusatz'])

In [7]:
df.head()

,hnr,hnr_zusatz,str_name,plz,ort_name,PLR_NAME,PLR_ID
11549,1,,Ackerstraße,10115,Mitte,Oranienburger Straße,01100309
13230,1,A,Ackerstraße,10115,Mitte,Oranienburger Straße,01100309
10179,1,B,Ackerstraße,10115,Mitte,Invalidenstraße,01100415
9479,10,,Ackerstraße,10115,Mitte,Invalidenstraße,01100415
9990,11,,Ackerstraße,10115,Mitte,Invalidenstraße,01100415

In [10]:
df.to_csv('adressen.csv', index=False)
df.to_csv('adressen.csv.gz', index=False, compression='gzip')