In [1]:
import pandas as pd

In [2]:
# load source dataset containing point coordinates
df = pd.read_csv('raw/eigentumskonzentration_2022_raw.csv', dtype={'plr_schl': str})
df = df.rename(columns={
    'plr_schl': 'PLR_ID',
    'plrname': 'PLR_NAME'
    })

# PLR_ID with PLR_NAME
plr = pd.read_csv('../plr/plr_only_no_geo.csv', dtype={'PLR_ID': str})

df.shape, plr.shape

((542, 9), (542, 2))

In [3]:
df.isna().sum()

PLR_ID        1
PLR_NAME      1
wohmi_fl      1
nat_pers      1
genossen      1
jur_pers      1
sozvermiet    1
stwbg         1
jp_ohn_swg    1
dtype: int64

In [4]:
df[df['PLR_ID'].isna()]

,PLR_ID,PLR_NAME,wohmi_fl,nat_pers,genossen,jur_pers,sozvermiet,stwbg,jp_ohn_swg
235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There is one nan column, it's PLR Gartenfeld...

In [5]:
plr[plr['PLR_ID'] != df['PLR_ID']]

       PLR_ID    PLR_NAME
235  05300838  Gartenfeld

In [6]:
# Fill in by hand
df.loc[235, 'PLR_ID'] = "05300838"
df.loc[235, 'PLR_NAME'] = "Gartenfeld"

In [7]:
df.to_csv('eigentumskonzentration_2022.csv', index=False)